<h2>Tareas a realizar en este tutorial</h2>
<hr>

<ul class="list-group w-50">    
    <a href="#!/es6/arrays"><li class="list-group-item list-group-item-light">Arrays</li></a>
    <a href="#!/es6/clases"><li class="list-group-item list-group-item-light">Deconstruyendo Clases</li></a>
    <a href="#!/es6/filtros"><li class="list-group-item list-group-item-light">Filter, Map & Reduce</li></a>
    <a href="#!/es6/arrow"><li class="list-group-item list-group-item-light">Funciones Arrow</li></a>
    <a href="#!/es6/promesas"><li class="list-group-item list-group-item-light">Promesas</li></a>
    <a href="#!es6/variables"><li class="list-group-item list-group-item-light">Variables: let & var</li></a>
</ul>