<h2>Léeme</h2>
<hr>
<h3>Instrucciones para poder</h3>

<ol>
    <li>Arrancar el servidor: <code>npm run dev</code></li>
    <li>*NOTA: Gracias al fichero <code>.map</code> podemos depurar el fichero <code>.ts</code>.</li>
    <li>Ejecutar en otro terminal el <code>watch</code> para que se refresquen los cambios (<code>VSCode --> Terminal --> Ejecutar compilar tarea --> tsc: seguir</code>).</li>
    <li>Para quitar el warning que nos da de <code>Iterable</code>, hay que instalar una dependencia: <code>npm install @types/node --save-dev</code></li>
</ol>

<h3>Enlaces de interés</h3>
<ul>
    <li><a href="https://ui-router.github.io/ng1/" targer="_blank">UI-Router for AngularJS (1.x)</a></li>
    <li><a href="https://www.typescriptlang.org/" targer="_blank">TypeScript</a></li>
    <li><a href="https://www.freecodecamp.org/learn" targer="_blank">ES6- EcmaScript 2015</a></li>
    <li><a href="https://ui-router.github.io/ng1/" targer="_blank">UI-Router for AngularJS (1.x)</a></li>
</ul>