<h2>Arrays</h2>
<hr>

<p>El objeto <code>Array</code> de JavaScript es un objeto global que es usado en la construcción de arrays, que son objetos tipo lista de alto nivel.</p>

<p>Si hemos definido una <strong>Array</strong> como constante (<code>const</code>), para poder cambiar sus valores, deberemos hacerlo por cada campo individualmente:</p>

<div class="border">
  <pre><code>
    const array = [5, 7, 2];
    function cambiarValores() {
      'use strict';
    
      // array = [2, 5, 7]; <- esto no es posible

      // hay que hacer lo siguiente:
      array[0]=2;
      array[1]=5;
      array[2]=7;    
    }
  </code></pre>
</div>

<p></p>

