<h2>Funciones Arrow</h2>
<hr>

<p>La expresión de <strong>función arrow</strong> tiene una sintaxis más corta que una expresión de función convencional y no vincula sus propios <code>this</code>, <code>arguments</code>, <code>super</code> o <code>new.target</code>.</p>
<p>Las <strong>funciones arrow</strong> siempre son anónimas. Estas funciones son funciones no relacionadas con métodos y no pueden ser usadas como constructores.</p>

<div class="border">
    <pre><code>
        var materials = [
            'Hydrogen',
            'Helium',
            'Lithium',
            'Beryllium'
            ];
          
        console.log(materials.map(material => material.length));
        // expected output: Array [8, 6, 7, 9]
    </code></pre>
</div>