<h2>Deconstruyendo Clases</h2>
<hr>

<p>La sintaxis de <strong>destructuring assignment</strong> es una expresión de JavaScript que hace posible la extracción de datos de arreglos u objetos usando una sintaxis que equivale a la construcción de arreglos y objetos literales.</p>

<div class="border">
    <pre><code>
        var numeros = ["uno", "dos", "tres"];

        // sin destructuración
            var uno  = numeros[0];
            var dos  = numeros[1];
            var tres = numeros[2]; // asignación en tres lineas
        
        // con destructuración
            var [uno, dos, tres] = n umeros; // asignación en una sola linea
    </code></pre>
</div>