<h2>Variables: let & var</h2>
<hr>

<p>En este apartado vamos a ver la diferencia entre <code>let</code> y <code>var</code>.</p>
<p>La diferencia entre las sos es el <strong>alcance de las variables</strong>.</p>
<ul>
    <li><strong>var</strong>: define una variable global o local en una función sin importar el ámbito del bloque.</li>  
    <li><strong>let</strong>: permite declarar variables limitando su alcance al bloque, declaración, o expresión donde se está usando</li>
</ul>

<div class="border">
    <pre><code>
        var a = 5;
        var b = 10;
         
        if (a === 5) {
          let a = 4; // El alcance es dentro del bloque if
          var b = 1; // El alcance es dentro de la función
         
          console.log(a);  // 4
          console.log(b);  // 1
        }
         
        console.log(a); // 5
        console.log(b); // 1
    </code></pre>
</div>